body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}
  
h1 {
    color: #4206d8;
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin: 10px 0 5px;
    color: #602e2e;
}
  
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
button {
    background-color: #9c3127;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button:hover {
    background-color: #e81405;
}
  
.hidden {
    display: none;
}
  
#results p {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
}